<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for message in messages %}
    <div>
        <p>{{ message.content }}</p>
        {% if message.sender == request.user %}
            <a href="{% url 'edit_message' message.id %}">Edit</a>
            <a href="{% url 'delete_message' message.id %}" onclick="return confirm('Are you sure you want to delete this message?');">Delete</a>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>