{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">SmartChat</h1>
<marquee behavior="scroll" direction="left">
        Smart Chat is a term often used to describe modern messaging apps or platforms that offer enhanced communication features
        beyond simple text messaging. Similar to apps like WhatsApp, Telegram, or Signal, Smart Chat applications provide
        a variety of functionalities to improve user experience. Smart Chat is a term often used to describe modern messaging
        apps or platforms that offer enhanced communication features beyond simple text messaging. Similar to apps like WhatsApp,
        Telegram, or Signal, Smart Chat applications provide a variety of functionalities to improve user experience.
</marquee>
{% endblock %}
{% block title %}Home{% endblock %}
